experiment ?=

# all dataset names to process
all_names = eval
eval_set_name = eval

dlg_side = user

num_columns=3

subtask_per_turn=4

replace_ids = false

clean_input_quotes = false

skip_po=true

train_output_per_example=1
evaltest_output_per_example=1

val_batch_size=1000


train_default_args = \
	--train_tasks almond_translate \
	--eval_set_name eval \
	--override_question= \
	--train_languages $(src_lang) \
	--train_tgt_languages $(tgt_lang) \
	--eval_languages $(src_lang) \
	--eval_tgt_languages $(tgt_lang) \
	--model TransformerSeq2Seq \
	--save $(GENIENLP_EMBEDDINGS)/$(model_name_or_path)/ \
	--embeddings $(GENIENLP_EMBEDDINGS) \
	--exist_ok \
	--no_commit \
	--preserve_case

translate_shared_args = \
	--tasks almond_translate \
	--translate_no_answer \
	--translate_example_split \
	--evaluate valid \
	--pred_languages $(src_lang) \
	--pred_tgt_languages $(tgt_lang) \
	--path $(GENIENLP_EMBEDDINGS)/$(model_name_or_path)/ \
	--embeddings $(GENIENLP_EMBEDDINGS) \
	--overwrite \
	--silent

annotate_args = \
	--task bitod \
	--evaluate valid \
	--overwrite \
	--silent \
	--val_batch_size 4000

image = 932360549041.dkr.ecr.us-west-2.amazonaws.com/genie-toolkit-kf:20210527.1

genienlp_version = 2ec344c0fc40228931a0314659cfffdbffb87bf9

genie_version = fb8b240bae41c7eb1d1ad2a15e91a325f809a91b

workdir_version = master
workdir_repo = git@github.com:stanford-oval/genie-workdirs.git

thingpedia_developer_key = 88c03add145ad3a3aa4074ffa828be5a391625f9d4e1d0b034b445f18c595656


all_versions = \
	--genienlp_version $(genienlp_version) \
	--genie_version $(genie_version) \
	--workdir_repo $(workdir_repo) \
	--workdir_version $(workdir_version) \
	--thingpedia_developer_key $(thingpedia_developer_key)
