GENIENLP_EMBEDDINGS ?= ../../genienlp/.embeddings
SENTENCE_TRANSFORMERS_HOME ?= ../../genienlp/.embeddings
GENIENLP_DATABASE_DIR ?=

geniedir ?= ../../genie-toolkit
genienlpdir ?= ../../genienlp
convlab ?= ../../ConvLab-2
geniek8s ?= ../../genie-k8s


sgddir ?= ../../schema-guided-dialogue/generation
bitoddir ?= ../../BiToD

source = source

ml_scripts ?= ./scripts
credential_file ?=

thingpedia_cli := thingpedia

dataset_folder ?= ./dataset


sgd_ontology = $(dataset_folder)/sgd/
sgd_1_ontology = $(dataset_folder)/sgd_1/
bitod_en_ontology = $(bitoddir)/ontology_merged/
bitod_zh_ontology = $(bitoddir)/ontology_merged/


memsize = 8500
parallel = 1

genie = export GENIENLP_EMBEDDINGS=$(GENIENLP_EMBEDDINGS) ; \
		export GENIENLP_DATABASE_DIR=$(GENIENLP_DATABASE_DIR) ; \
		node --experimental_worker --max_old_space_size=$(memsize) $(geniedir)/$(if -d $(geniedir)/dist,dist, )/tool/genie.js

genienlp ?= export SENTENCE_TRANSFORMERS_HOME=$(SENTENCE_TRANSFORMERS_HOME) ; $(shell which genienlp)


owner ?=

project = response-gen
all_experiments =

# English(en) Farsi(fa) Italian(it) Chinese(zh) Croatian(hr) Japanese(ja) Korean(ko) Russian(ru) Spanish(es) Swedish(sv)
# Turkish(tr) Hindi(hi) French(fr) German(de) Polish(pl) Arabic(ar) Vietnamese(vi) Yiddish(yi) Portuguese(pt)
# Greek(el) Hebrew(he) Sinhala(si) Tamil(ta) Czech(cs) Danish(da) Finnish(fi) Norwegian(no) Filipino(tl)

all_languages = en fa it zh hr ja ko ru es sv tr hi fr de pl ar vi yi pt el he si ta cs da fi no tl

train_name = train
eval_name = eval
test_name = test
